
@model IEnumerable<HRProject_NTier.CORE.ViewModels.ListPermissionsVM>
@{

    IEnumerable<Permission> personeller = ViewData[("PersonelPermissionsDetails")] as IEnumerable<Permission>;
    Layout = "~/Areas/ManagerArea/Views/Shared/_ManagerLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
}

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Aktif İzin Listesi</title>

</head>

<body>

    <h6 style="font-size: 25px; margin-top: 15px;text-align:center">Onay Bekleyen İzinler</h6>
    <div class="container mb-3 mt-3">
        <div class="scrollmenu">
            <a class="btn btn-default" asp-controller="Manager" asp-action="ListActivePermissions"><strong>Onay Bekleyenler</strong><label>|| @ViewBag.BekleyenSayisi</label></a>
            <a class="btn btn-success" asp-controller="Manager" asp-action="ListApprovePermissions" asp-route-id=""><strong>Onaylananlar</strong><label>|| @ViewBag.OnaylananSayisi</label></a>
            <a class="btn btn-danger" asp-controller="Manager" asp-action="ListDissaprovedPermissions"><strong>Reddedilenler</strong><label>|| @ViewBag.ReddedilenSayisi</label></a>
      
        </div>
        <table id="dataTable" class="table table-striped" width="100%">
            <thead>
                <tr>

                    <th>Personel Adı</th>
                    <th>Personel Soyadı</th>
                    <th>İzin Tipi</th>

                    <th>İzin Başlangıç Tarihi</th>
                    <th>İzin Bitiş Tarihi</th>
                    <th>Reddet</th>
                    <th>KabulEt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in personeller)
                {
                    <tr>



                        <td>@item.Personnel.Name</td>
                        <td>@item.Personnel.Surname</td>
                        <td>@Html.DisplayFor(modelItem => item.permissionType)</td>

                        <td>@item.StartedDate.ToShortDateString()</td>
                        <td>@item.EndDate.ToShortDateString()</td>

                        <td><a asp-action="DisApprovePermission" asp-controller="Manager" asp-route-id="@item.ID" class="btn btn-outline-danger" id="toasterdanger">✖️</a></td>
                        <td><a asp-action="ApprovedPermission" asp-controller="Manager" asp-route-id="@item.ID" class="btn btn-outline-success">✔️</a></td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
    @*<script>
            $(document).ready(function () {
                $('#table_id').DataTable({

                    "pagingType": "full_numbers",

                });
            });
            $(function () {
                $("#toasterdanger").click(function () {
                    toastr.s("Success Toastr!!!", "Toastr");

                });

            });
        </script>

        <script type="text/javascript">

            $(function () {
                $("#toasterdanger").click(function () {
                    toastr.success("Success Toastr!!!", "Toastr");

                });

            });

        </script>*@
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>



    <script>
        $(document).ready(function () {
            $("#dataTable").dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                },
                "searching": true,
                "ordering": true,
                "paging": true,
                "pagingType": "full_numbers",
                "pageLength": 10,
                "responsive": true,
                "columnDefs": [{
                    "targets": 3,
                    "orderable": false
                }]
            });
        });
    </script>

}